hr {
  width: 900px;
  margin-left: 0px;
  text-align: left;
}

div.noBullets + ul {
    list-style-type: none;
}

pre > code.language-xml {
    color: darkblue;
    border: solid 1px darkblue;
    background-color: aliceblue;
}

pre>code.language-wrapped-xml {
    color: darkblue;
    border: solid 1px darkblue;
    background-color: aliceblue;
    white-space: pre-wrap;
    word-break: break-word;
    min-width: unset;
}

pre>code.language-shell-error {
    background-color: darkslategray;
    /* color: coral; */
    color: #ff6b68;
    border: solid 1px darkslategray;
}

pre>code.language-wrapped-shell-error {
    background-color: darkslategray;
    /* color: coral; */
    color: #ff6b68;
    border: solid 1px darkslategray;
    white-space: pre-wrap;
    word-break: break-word;
    min-width: unset;
}

code, .code {
  border: lightgray solid 1px;
}

code, .code {
  border: lightgray solid 1px;
}

.localOnly {
    display: none;
}

.collapsed {
    cursor: pointer;
    font-size: smaller;
    margin-bottom: 10px;
    max-width: 900px;
    color: blue;
    border-bottom: dashed blue 1px;
}


